[submodule "threat_hunting/windows/CRT"]
	path = threat_hunting/windows/CRT
	url = https://github.com/CrowdStrike/CRT
[submodule "forensics/windows/python-evtxtool"]
	path = forensics/windows/python-evtxtool
	url = https://github.com/janstarke/python-evtxtools
[submodule "forensics/generic/evtxtools"]
	path = forensics/generic/evtxtools
	url = https://github.com/teeshop/evtxtools
[submodule "offensive/MicroBurst"]
	path = offensive/MicroBurst
	url = https://github.com/NetSPI/MicroBurst
[submodule "threat_hunting/windows/BeaKer"]
	path = threat_hunting/windows/BeaKer
	url = https://github.com/activecm/BeaKer
[submodule "threat_hunting/generic/rita"]
	path = threat_hunting/generic/rita
	url = https://github.com/activecm/rita
[submodule "threat_hunting/generic/passer"]
	path = threat_hunting/generic/passer
	url = https://github.com/activecm/passer
[submodule "threat_hunting/generic/zeek-open-connections"]
	path = threat_hunting/generic/zeek-open-connections
	url = https://github.com/activecm/zeek-open-connections
[submodule "threat_hunting/generic/threat-tools"]
	path = threat_hunting/generic/threat-tools
	url = https://github.com/activecm/threat-tools
[submodule "threat_hunting/generic/pcap-stats"]
	path = threat_hunting/generic/pcap-stats
	url = https://github.com/activecm/pcap-stats
[submodule "threat_hunting/generic/smudge"]
	path = threat_hunting/generic/smudge
	url = https://github.com/activecm/smudge
[submodule "offensive/AADInternals"]
	path = offensive/AADInternals
	url = https://github.com/Gerenios/AADInternals
[submodule "offensive/o365creeper"]
	path = offensive/o365creeper
	url = https://github.com/LMGsec/o365creeper
[submodule "reconnaissance/GitGot"]
	path = reconnaissance/GitGot
	url = https://github.com/BishopFox/GitGot
[submodule "reconnaissance/gobuster"]
	path = reconnaissance/gobuster
	url = https://github.com/OJ/gobuster
[submodule "offensive/pentest-notes"]
	path = offensive/pentest-notes
	url = https://github.com/SofianeHamlaoui/Pentest-Notes
[submodule "offensive/payloadsallthethings"]
	path = offensive/payloadsallthethings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "offensive/awesome-burp-extentions"]
	path = offensive/awesome-burp-extentions
	url = https://github.com/snoopysecurity/awesome-burp-extensions.git
[submodule "scanners/nuclei"]
	path = scanners/nuclei
	url = https://github.com/projectdiscovery/nuclei
[submodule "offensive/pentest-book"]
	path = offensive/pentest-book
	url = https://github.com/six2dez/pentest-book.git
[submodule "reconnaissance/git-dumper"]
	path = reconnaissance/git-dumper
	url = https://github.com/arthaud/git-dumper
[submodule "reconnaissance/pspy"]
	path = reconnaissance/pspy
	url = https://github.com/DominicBreuker/pspy
[submodule "reconnaissance/impacket"]
	path = reconnaissance/impacket
	url = https://github.com/fortra/impacket.git
[submodule "offensive/evil-winrm"]
	path = offensive/evil-winrm
	url = https://github.com/Hackplayers/evil-winrm
[submodule "forensics/generic/peepdf-python3"]
	path = forensics/generic/peepdf-python3
	url = https://github.com/enzok/peepdf
[submodule "offensive/impacket"]
	path = offensive/impacket
	url = https://github.com/fortra/impacket
[submodule "reconnaissance/ADRecon"]
	path = reconnaissance/ADRecon
	url = https://github.com/adrecon/ADRecon.git
