[submodule "offensive/crackle"]
	path = offensive/crackle
	url = https://raw.github.com/mikeryan/crackle/
[submodule "forensics/generic/peepdf"]
	path = forensics/generic/peepdf
	url = https://github.com/jesparza/peepdf
[submodule "threat_hunting/windows/CRT"]
	path = threat_hunting/windows/CRT
	url = https://github.com/CrowdStrike/CRT
[submodule "forensics/windows/python-evtxtool"]
	path = forensics/windows/python-evtxtool
	url = https://github.com/janstarke/python-evtxtools
[submodule "forensics/generic/plaso"]
	path = forensics/generic/plaso
	url = https://github.com/log2timeline/plaso
[submodule "forensics/generic/evtxtools"]
	path = forensics/generic/evtxtools
	url = https://github.com/teeshop/evtxtools
