[submodule "threat_hunting/windows/CRT"]
	path = threat_hunting/windows/CRT
	url = https://github.com/CrowdStrike/CRT
[submodule "forensics/windows/python-evtxtool"]
	path = forensics/windows/python-evtxtool
	url = https://github.com/janstarke/python-evtxtools
[submodule "forensics/generic/evtxtools"]
	path = forensics/generic/evtxtools
	url = https://github.com/teeshop/evtxtools
[submodule "offensive/MicroBurst"]
	path = offensive/MicroBurst
	url = https://github.com/NetSPI/MicroBurst
[submodule "threat_hunting/windows/BeaKer"]
	path = threat_hunting/windows/BeaKer
	url = https://github.com/activecm/BeaKer
[submodule "threat_hunting/generic/rita"]
	path = threat_hunting/generic/rita
	url = https://github.com/activecm/rita
[submodule "threat_hunting/generic/passer"]
	path = threat_hunting/generic/passer
	url = https://github.com/activecm/passer
[submodule "threat_hunting/generic/zeek-open-connections"]
	path = threat_hunting/generic/zeek-open-connections
	url = https://github.com/activecm/zeek-open-connections
[submodule "threat_hunting/generic/threat-tools"]
	path = threat_hunting/generic/threat-tools
	url = https://github.com/activecm/threat-tools
[submodule "threat_hunting/generic/pcap-stats"]
	path = threat_hunting/generic/pcap-stats
	url = https://github.com/activecm/pcap-stats
[submodule "threat_hunting/generic/smudge"]
	path = threat_hunting/generic/smudge
	url = https://github.com/activecm/smudge
[submodule "offensive/AADInternals"]
	path = offensive/AADInternals
	url = https://github.com/Gerenios/AADInternals
[submodule "offensive/o365creeper"]
	path = offensive/o365creeper
	url = https://github.com/LMGsec/o365creeper
[submodule "reconnaissance/GitGot"]
	path = reconnaissance/GitGot
	url = https://github.com/BishopFox/GitGot
[submodule "reconnaissance/gobuster"]
	path = reconnaissance/gobuster
	url = https://github.com/OJ/gobuster
[submodule "offensive/pentest-notes"]
	path = offensive/pentest-notes
	url = https://github.com/SofianeHamlaoui/Pentest-Notes
[submodule "offensive/payloadsallthethings"]
	path = offensive/payloadsallthethings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "offensive/awesome-burp-extentions"]
	path = offensive/awesome-burp-extentions
	url = https://github.com/snoopysecurity/awesome-burp-extensions.git
[submodule "scanners/nuclei"]
	path = scanners/nuclei
	url = https://github.com/projectdiscovery/nuclei
[submodule "offensive/pentest-book"]
	path = offensive/pentest-book
	url = https://github.com/six2dez/pentest-book.git
[submodule "reconnaissance/git-dumper"]
	path = reconnaissance/git-dumper
	url = https://github.com/arthaud/git-dumper
[submodule "reconnaissance/pspy"]
	path = reconnaissance/pspy
	url = https://github.com/DominicBreuker/pspy
[submodule "reconnaissance/impacket"]
	path = reconnaissance/impacket
	url = https://github.com/fortra/impacket.git
[submodule "offensive/evil-winrm"]
	path = offensive/evil-winrm
	url = https://github.com/Hackplayers/evil-winrm
[submodule "forensics/generic/peepdf-python3"]
	path = forensics/generic/peepdf-python3
	url = https://github.com/enzok/peepdf
[submodule "offensive/impacket"]
	path = offensive/impacket
	url = https://github.com/fortra/impacket
[submodule "reconnaissance/ADRecon"]
	path = reconnaissance/ADRecon
	url = https://github.com/adrecon/ADRecon.git
[submodule "offensive/crackmapexec"]
	path = offensive/crackmapexec
	url = https://github.com/byt3bl33d3r/CrackMapExec
[submodule "offensive/wordlistctl"]
	path = offensive/wordlistctl
	url = https://github.com/BlackArch/wordlistctl.git
[submodule "offensive/hacktriks"]
	path = offensive/hacktriks
	url = https://github.com/carlospolop/hacktricks.git
[submodule "training/crest-cpsa"]
	path = training/crest-cpsa
	url = https://github.com/huy4ng/crest-cpsa
[submodule "training/katanush-crest-cpsa"]
	path = training/katanush-crest-cpsa
	url = https://github.com/felipetruman/katanush-crest-cpsa.git
[submodule "training/crest_cpsa"]
	path = training/crest_cpsa
	url = https://github.com/ahrixia/CREST_CPSA
[submodule "reconnaissance/awesome-nmap-grep"]
	path = reconnaissance/awesome-nmap-grep
	url = https://github.com/leonjza/awesome-nmap-grep.git
[submodule "reconnaissance/ffuf"]
	path = reconnaissance/ffuf
	url = https://github.com/ffuf/ffuf.git
[submodule "reconnaissance/SecLists"]
	path = reconnaissance/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "offensive/badPods"]
	path = offensive/badPods
	url = https://github.com/BishopFox/badPods.git
[submodule "training/CSCTF-2024-challenges"]
	path = training/CSCTF-2024-challenges
	url = https://github.com/ChronosPK/CSCTF-2024-challenges
[submodule "reconnaissance/sherlock"]
	path = reconnaissance/sherlock
	url = https://github.com/sherlock-project/sherlock
[submodule "reconnaissance/recon-ng"]
	path = reconnaissance/recon-ng
	url = https://github.com/lanmaster53/recon-ng
[submodule "reconnaissance/RPCScan"]
	path = reconnaissance/RPCScan
	url = https://github.com/hegusung/RPCScan
[submodule "reconnaissance/dnsrecon"]
	path = reconnaissance/dnsrecon
	url = https://github.com/darkoperator/dnsrecon
[submodule "offensive/rebeus"]
	path = offensive/rebeus
	url = https://github.com/GhostPack/Rubeus
[submodule "offensive/spartacus"]
	path = offensive/spartacus
	url = https://github.com/sadreck/Spartacus.git
[submodule "offensive/beroot"]
	path = offensive/beroot
	url = https://github.com/AlessandroZ/BeRoot.git
[submodule "offensive/pwncat"]
	path = offensive/pwncat
	url = https://github.com/calebstewart/pwncat.git
[submodule "offensive/OffensiveGolang"]
	path = offensive/OffensiveGolang
	url = https://github.com/MrTuxx/OffensiveGolang
[submodule "offensive/camover"]
	path = offensive/camover
	url = https://github.com/EntySec/CamOver.git
[submodule "reconnaissance/wafw00f"]
	path = reconnaissance/wafw00f
	url = https://github.com/EnableSecurity/wafw00f.git
[submodule "offensive/ActiveDirectory-Pentest-Resources"]
	path = offensive/ActiveDirectory-Pentest-Resources
	url = https://github.com/daniellowrie/ActiveDirectory-Pentest-Resources.git
[submodule "mindmaps/mobile-pentesting"]
	path = mindmaps/mobile-pentesting
	url = https://github.com/tanprathan/MobileApp-Pentest-Cheatsheet
[submodule "offensive/PhoneSploit-Pro"]
	path = offensive/PhoneSploit-Pro
	url = https://github.com/AzeemIdrisi/PhoneSploit-Pro.git
[submodule "scanners/cloudsploit"]
	path = scanners/cloudsploit
	url = https://github.com/aquasecurity/cloudsploit.git
[submodule "scanners/prowler"]
	path = scanners/prowler
	url = https://github.com/prowler-cloud/prowler
[submodule "reconnaissance/cloudbrute"]
	path = reconnaissance/cloudbrute
	url = https://github.com/0xsha/CloudBrute
[submodule "reconnaissance/BucketLoot"]
	path = reconnaissance/BucketLoot
	url = https://github.com/redhuntlabs/BucketLoot
[submodule "scanners/PMapper"]
	path = scanners/PMapper
	url = https://github.com/nccgroup/PMapper
[submodule "scanners/cloudsplaining"]
	path = scanners/cloudsplaining
	url = https://github.com/salesforce/cloudsplaining
[submodule "scanners/ghostbuster"]
	path = scanners/ghostbuster
	url = https://github.com/assetnote/ghostbuster
[submodule "scanners/cartography"]
	path = scanners/cartography
	url = https://github.com/cartography-cncf/cartography
[submodule "scanners/cloudfox"]
	path = scanners/cloudfox
	url = https://github.com/BishopFox/cloudfox
[submodule "training/stratus-red-team"]
	path = training/stratus-red-team
	url = https://github.com/DataDog/stratus-red-team
[submodule "training/atomic-red-team"]
	path = training/atomic-red-team
	url = https://github.com/redcanaryco/atomic-red-team
[submodule "offensive/pacu"]
	path = offensive/pacu
	url = https://github.com/RhinoSecurityLabs/pacu
[submodule "offensive/DumpsterDiver"]
	path = offensive/DumpsterDiver
	url = https://github.com/securing/DumpsterDiver.git
[submodule "offensive/ccat"]
	path = offensive/ccat
	url = https://github.com/RhinoSecurityLabs/ccat
[submodule "training/AWSGoat"]
	path = training/AWSGoat
	url = https://github.com/ine-labs/AWSGoat
[submodule "offensive/Spray365"]
	path = offensive/Spray365
	url = https://github.com/MarkoH17/Spray365
[submodule "offensive/Stormspotter"]
	path = offensive/Stormspotter
	url = https://github.com/Azure/Stormspotter
[submodule "reconnaissance/AzureHound"]
	path = reconnaissance/AzureHound
	url = https://github.com/SpecterOps/AzureHound
[submodule "training/AzureGoat"]
	path = training/AzureGoat
	url = https://github.com/ine-labs/AzureGoat
[submodule "scanners/gcp_scanner"]
	path = scanners/gcp_scanner
	url = https://github.com/google/gcp_scanner
[submodule "scanners/cloud_enum"]
	path = scanners/cloud_enum
	url = https://github.com/initstring/cloud_enum
[submodule "offensive/GCPBucketBrute"]
	path = offensive/GCPBucketBrute
	url = https://github.com/RhinoSecurityLabs/GCPBucketBrute
[submodule "GCPGoat"]
	path = GCPGoat
	url = https://github.com/ine-labs/GCPGoat
[submodule "training/GCPGoat"]
	path = training/GCPGoat
	url = https://github.com/ine-labs/GCPGoat
[submodule "scanners/ScoutSuite"]
	path = scanners/ScoutSuite
	url = https://github.com/nccgroup/ScoutSuite.git
[submodule "reconnaissance/wesng"]
	path = reconnaissance/wesng
	url = https://github.com/bitsadmin/wesng.git
[submodule "offensive/ruler"]
	path = offensive/ruler
	url = https://github.com/sensepost/ruler
[submodule "mindmaps/LOLBAS"]
	path = mindmaps/LOLBAS
	url = https://github.com/LOLBAS-Project/LOLBAS.git
[submodule "offensive/SharpLNKGen-UI"]
	path = offensive/SharpLNKGen-UI
	url = https://github.com/jfmaes/SharpLNKGen-UI
[submodule "offensive/CS-Situational-Awareness-BOF"]
	path = offensive/CS-Situational-Awareness-BOF
	url = https://github.com/trustedsec/CS-Situational-Awareness-BOF
[submodule "offensive/SharpRDPHijack"]
	path = offensive/SharpRDPHijack
	url = https://github.com/bohops/SharpRDPHijack
[submodule "offensive/ServifyThis"]
	path = offensive/ServifyThis
	url = https://github.com/inguardians/ServifyThis
[submodule "offensive/acCOMplice"]
	path = offensive/acCOMplice
	url = https://github.com/nccgroup/acCOMplice.git
[submodule "offensive/MagicSigner"]
	path = offensive/MagicSigner
	url = https://github.com/namazso/MagicSigner
[submodule "offensive/COM-Hunter"]
	path = offensive/COM-Hunter
	url = https://github.com/nickvourd/COM-Hunter
[submodule "offensive/Invoke-Maldaptive"]
	path = offensive/Invoke-Maldaptive
	url = https://github.com/MaLDAPtive/Invoke-Maldaptive
[submodule "offensive/SharpMove"]
	path = offensive/SharpMove
	url = https://github.com/0xthirteen/SharpMove
[submodule "offensive/Farmer"]
	path = offensive/Farmer
	url = https://github.com/mdsecactivebreach/Farmer
[submodule "offensive/PowerUpSQL"]
	path = offensive/PowerUpSQL
	url = https://github.com/NetSPI/PowerUpSQL
[submodule "training/aws_mini_ad"]
	path = training/aws_mini_ad
	url = https://github.com/jfmaes/aws_mini_ad
[submodule "training/SANS-Workshop-Lab"]
	path = training/SANS-Workshop-Lab
	url = https://github.com/aleemladha/SANS-Workshop-Lab/
[submodule "mindmaps/PayloadsAllTheThings"]
	path = mindmaps/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
